.item {
    padding: 1rem;
}

@media (min-width: 40em) {
    .wrapper {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(4, 1fr);            
        }
    .item:first-child {
        grid-column: span 2;
        color: #fff;        
        background: #000;
        display: grid;
        place-content: center;
    }
    .item:last-child {
        grid-column: 4;
        grid-row: 1 / span 3;
        background: gray;
    }
}